.greeting-msg {
    font-size: 1.7em;
}

.count-btn {
    margin: 100px 0px;
}

li {
    margin: 5px;
}

.crop {
    height: 400px;
    width: 200px;
    overflow: hidden;
}

.crop img {
    height: 300px;
    width: 200px;
}

.crop .btn {
    width: 100%;
}

.rating-container {
    text-align: center;
    font-size: 1.5em;
}
