{% load webpack_static from webpack_loader %}
<header class="jumbotron">
    <div class="container">
	<div class="row">
	    <div class="col-xs-12 col-sm-8">
		<h1>
		    Movie Recommender
		</h1>
		<p>
		    Looking for a good movie but you don't know what to watch?
		</p>
	    </div>
	    <div class="col-xs-12 col-sm-4">
                {% if request.user.is_authenticated %}
                <switch
                    ng-model="historyMode"
                    class="green wide"
                    ng-change="onModeChange"
                    on="history"
                    off="new"
                >
                </switch>
                {% endif %}
                <div
                    class="btn-group count-btn"
                    ng-if="!historyMode"
                >
                    <button
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
			How many movies do you want? <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
                        <li ng-repeat="size in listSizes">
                            <a ng-click="setCurrentCount(size)">
                                [[ size ]]
                            </a>
                        </li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>
</header>
