{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>movie recommendation</title>
        {% render_bundle 'vendor' 'css' %}
        {% render_bundle 'main' 'css' %}
    </head>
    <body ng-app="movieRecommApp">
        {% include 'components/top-nav.html' %}
        {% include 'components/index-header.html' %}
        {% include 'components/movie-list.html' %}

        {% render_bundle 'vendor' 'js' %}
        {% render_bundle 'main' 'js' %}
    </body>
</html>
